
/* Body */
body
{
    background-image: url('../Images/background.png') !important;
}

.li-link:hover
{
    text-decoration: underline;
}

/* Background of the card */
.card-bg
{
    background-color: transparent !important;
    border: none !important;
}

/* For the alignment of the Card */
.card-flex
{
    height: 550px;
    display: flex;
    align-items: center;
}

/* For the alignment of the Unordered List */
.j-end
{
    display: flex !important;
    justify-content: space-between !important;
}

.logo
{
    animation: myAnimation 2s ease-in-out backwards;
    animation-iteration-count: infinite
}